.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
    margin-bottom: 0;
}

#headimg {}

.ui.form textarea {
    min-height: 50vh !important;
}

@media screen and (max-width: 900px) {
    .ui.form textarea {
        min-height: 25vh !important;
    }
}