.App {
    display: flex;
    height: 100vh;
    padding: 0;
    margin-bottom: 0;
}

#headimg {
    margin-top: 4rem;
}

.ui.form textarea {
    min-height: 50vh !important;
    background: black !important;
}

@media screen and (max-width: 900px) {
    .ui.form textarea {
        min-height: 25vh !important;
    }
}